*{
    margin:0;
    padding:0;
}

body{
font-family: "Microsoft Yahei";
}

img{
     border:0;
}
   

.wrapper{
    width:100%;
    margin:0 auto;
}

.wrapper .inner{
   
    margin: 0 auto;
  
}

ul li{
    list-style-type: none;

}

a{
    color:black;
    text-decoration: none;
}


a:hover{
color:red;
}


.clear{
    height:0;
    width:100%;
    overflow: hidden;
    clear:both;
    display:block;
}


header .inner{
    background-color:rgb(236, 146, 161);
    width:100%;
    height:50px;
    display:flex;
    position: fixed;
    left:0;
    right:0;
     z-index: 3;
     
}

.tfield {
    font-family: "方正舒体";
    color:rgb(245, 245, 16);
    background-color:rgb(236, 146, 161);
   width:400px;
   height:35px;
   font-size:22px;
   margin-top:5px;
   position: relative;
   left:98px;
   border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
 
}

header#top .inner #top-2{
    
     margin:auto;
    font-family:"华文新魏";
     font-weight:bold;   
 }

ul#nav li{
    font-size: 20px;
    padding:10px 35px;
    display:block; 
    float:left;
    text-decoration: none;
    list-style-type: none;
}
#coupon {
    position: fixed;
	top: 180px;
    right: 0px;
    z-index: 5;
}

.left{
    width:350px;
    text-align: center;
    position:fixed;
    top:50px;
     bottom:0;
    float:left;flex:none;
    font-family:"楷体";
    background:url(背景/back11.jpg);
}

img#touxiang{
    position: relative;
    top:30px;
}

div#jianjie{
    margin-top:30px;
    text-align: left;
    position: relative;
    top:20px;
    left:50px;
    line-height: 1.7em;
    width:240px;
   
}
div#xia{  
    position: fixed;;
    bottom:-5px;
}





