body{
    color: #1d2d45;
}



form{
    width:847px;
    height:auto;  
    font-family: "Microsoft Yahei";
    margin:auto;
}

h1{
    text-align: left;
    margin-left: 50px;
    font-size: 22px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    color: #666;
    float:left;
}

td#one{
    width:845px;
    height:43px; 
    border-bottom: 2px solid #e33b3d;   
    text-align: center;
}

td#two{
    position: relative;
    top:10px;
    width:845px;
    height:55px;    
     font-size: 12px;
     text-indent: 2em;  
     padding-bottom: 10px;
}


td.wenzi{
    float:left;
    width:820px;
      
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    background-color:pink;
    text-align: left;
    padding: 6px 10px;
}

.table{
    margin-top:10px;
    width:845px;
    height:auto; 
    border: 1px solid pink;
    padding: 1px;
}


ul li{
    list-style: none;
    font-size:12px;
}

textarea{
    position: relative;
    left:50px;
    top:5px;
}

.numthree{
    width:845px;
    height:31px; 
    border: 1px solid pink;
    margin-top:10px;
    background-color: pink;
}

.submit{
    width:54px;
    height:30px; 
    text-align: center;
   font-size:12px;
   font-weight:bold;
    display:block;
    margin:0 auto;
    border-radius:8px;
    border: 1px solid pink;
   background: rgb(235, 123, 142);
}

a{
    color:black;
    text-decoration: none;
}